.section {
  padding: 0 30px 0 30px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .text {
    font-size: 40px;
    font-family: "TiltNeon";
    text-align: center;
    line-height: 36px;
    color: #6fb3b8;
  }
}
